#bottom_UI
{
    width: 100vw;
    height: 25vw;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    font-size: 0;
}

#bottom_UI_left
{
    display: inline-block;
    width:25vw;
    background-color: var(--ui);
    opacity: 0.8;
    height: 100%;
    border-top-right-radius: 4vw;
}

#bottom_UI_center {
	display: inline-block;
	width: 15vw;
	opacity: 0.8;
	height: 100%;
	
    mask-image: radial-gradient(circle 10px at 50% 1vh, transparent 7.5vw, transparent 1px, black 1px);
    background: linear-gradient(180deg, rgba(255, 0, 0, 0) 1vw, var(--ui) 1vw, var(--ui) 12vw, var(--ui) 13vw);
}

#bottom_UI_right
{
    display: inline-block;
    width:60vw;
    background-color: var(--ui);
    opacity: 0.8;
    height: 100%;
    border-top-left-radius: 4vw;
    float: right;
}


.bottom_UI_button_margin
{
	margin-left: 7vw;
}
